### Ejercicio 2

In [3]:
data = [
 ('John', [45, 55, 60, 70]),
 ('Emily', [88, 76, 95, 80]),
 ('Sophia', [60, 65, 45, 70]),
 ('Michael', [80, 90, 92, 85])
]

#### # Usar map para calcular el promedio de calificaciones mayores o iguales a 50 para cada persona.

In [9]:
def promedio(lista):
    lista_2 = [score for score in lista if score >= 50] ## Sintaxis de lista por compresion donde busca los valores >50
    return sum(lista_2) / len(lista_2) ##calculo de promedio, teniendo en cuenta los num >50
print(list(map(promedio,[scores for name, scores in data]))) ##Construyes una lista por comprension para coger solo la segunda parte de la tupla

[61.666666666666664, 84.75, 65.0, 86.75]

[('John', 61.666666666666664),
 ('Emily', 84.75),
 ('Sophia', 65.0),
 ('Michael', 86.75)]

[('John', 61.666666666666664),
 ('Emily', 84.75),
 ('Sophia', 65.0),
 ('Michael', 86.75)]

#### # Convertir a lista y ordenar por el promedio de calificaciones

In [ ]:
data = [
 ('John', [45, 55, 60, 70]),
 ('Emily', [88, 76, 95, 80]),
 ('Sophia', [60, 65, 45, 70]),
 ('Michael', [80, 90, 92, 85])
]

[('Michael', 86.75),
 ('Emily', 84.75),
 ('Sophia', 65.0),
 ('John', 61.666666666666664)]

#### # Filtrar las personas con el promedio más alto

In [ ]:
data = [
    ('John', [45, 55, 60, 70]),
    ('Emily', [88, 76, 95, 80]),
    ('Sophia', [60, 65, 45, 70]),
    ('Michael', [80, 90, 92, 85])
]

[('Michael', 86.75)]

In [ ]:
from functools import reduce
data = [
 ('John', [45, 55, 60, 70]),
 ('Emily', [88, 76, 95, 80]),
 ('Sophia', [60, 65, 45, 70]),
 ('Michael', [80, 90, 92, 85])
]

[('Michael', 86.75)]

#### # Extraer solo los nombres de las personas con el promedio más alto

In [ ]:
data = [
    ('John', [45, 55, 60, 70]),
    ('Emily', [88, 76, 95, 80]),
    ('Sophia', [60, 65, 45, 70]),
    ('Michael', [80, 90, 92, 85])
]

['Michael']

In [ ]:
from functools import reduce
data = [
 ('John', [45, 55, 60, 70]),
 ('Emily', [88, 76, 95, 80]),
 ('Sophia', [60, 65, 45, 70]),
 ('Michael', [80, 90, 92, 85])
]

['Michael']

### Completo

Persona(s) con el promedio más alto de calificaciones mayores o iguales a 50: ['Michael']